%html
  %head
    %title TEI Visualization

    - isomorphicDir = "javascripts/isomorphic"
    - # isomorphicDir = "javascripts/isomorphic-debug"

    %script
      = "var isomorphicDir = '/#{isomorphicDir}/';"
      = "window.isc_useSimpleNames = false;"

    - %w( ISC_Core.js ISC_Foundation.js ISC_Containers.js ISC_Grids.js ISC_Forms.js ISC_DataBinding.js ).each do |js|
      = javascript_include_tag "/#{isomorphicDir}/system/modules/#{js}"

    = javascript_include_tag "/#{isomorphicDir}/skins/TreeFrog/load_skin.js"

    - %w( smartclient-ext xslt application ).each do |js|
      = javascript_include_tag "/javascripts/#{js}.js"

    = stylesheet_link_tag :all

  %body
